######################################################################################################
# 00_Private.cfg
# Eigene Geräte hier anlegen.
# Achtung: Programmiert man über die WEB-Oberfläche werden die Codezeilen in die fhem.cfg angelegt.
# diesen Teil hierher kopieren.
# 
# ein rereadcfg in der Eingabezeile lädt die Konfiguration neu ein.
#######################################################################################################

